<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="ColorPresetsDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ColorPresetsDesigner.Properties.Settings>
            <setting name="LastSelectedPresetsFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedColorsFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsUpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </ColorPresetsDesigner.Properties.Settings>
    </userSettings>
</configuration>